.uvDiffIcons {
    display: block;
}

.uv-mdc-diffIcons {
    position: relative;
    min-height: 36px;

    font-family: "Roboto", "Arial", sans-serif;
}

.uv-mdc-diffIcons.uv-mdc-diffIcons--finished {
    min-height: 62px;
}

.uv-mdc-diffIcons:not(.uv-mdc-diffIcons--reverting)
    .uv-mdc-diffIcons-progressBar,
.uv-mdc-diffIcons:not(.uv-mdc-diffIcons--finished)
    .uv-mdc-diffIcons-doneOptions,
.uv-mdc-diffIcons.uv-mdc-diffIcons--reverting .uv-mdc-diffIcons-options,
.uv-mdc-diffIcons.uv-mdc-diffIcons--finished .uv-mdc-diffIcons-options {
    pointer-events: none;
    opacity: 0;
}

.uv-mdc-diffIcons-options {
    pointer-events: all;
    opacity: 1;
}

.uv-mdc-diffIcons-progressBar {
    pointer-events: all;
    opacity: 1;

    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    top: 0;
    left: 0;

    z-index: 100;
}

.uv-mdc-diffIcons-progressBar-content {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.uv-mdc-diffIcons-progressBar-content .mdc-linear-progress {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.15);
}

.uv-mdc-diffIcons-doneOptions {
    pointer-events: all;
    opacity: 1;

    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    z-index: 50;
    transition: opacity 0.3s ease;

    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.uv-mdc-diffIcons-options .mdc-icon-button,
.uv-mdc-diffIcons-doneOptions .mdc-icon-button {
    /* Must be equal to height. */
    width: 36px;
    height: 36px;
    padding: 4px;
    /* calc(width or height - padding * 2) */
    font-size: 28px;
}
