@keyframes pageIconsExpand {
    from {
        max-width: 0;
    }
    to {
        max-width: 100%;
    }
}

#uvPageIcons {
    height: 28px;
}

#uvPageIcons:not(.uv-firstHeading--hidden) {
    overflow: hidden;
    animation: pageIconsExpand 0.2s ease-in-out;
}

#uvPageIcons > div {
    white-space: nowrap;
    z-index: 2;
}

#uvPageIcons:not(.uv-firstHeading--hidden) > div {
    position: relative;
}

.uv-mdc-pageIcons-icon {
    padding: 2px !important;
    height: 24px !important;
    width: 24px !important;
    box-sizing: content-box !important;
}
