.mdc-dialog .uv-mdc-protectionRequestDialog.mdc-dialog__surface {
    height: 95vh;
    max-width: 100vw;
    width: 55vw;
}

.uv-mdc-protectionRequestDialog .mdc-dialog__content {
    padding-top: 24px !important;
}

.uv-mdc-protectionRequestDialog .mdc-radio + label > div {
    height: 24px;
    padding: 8px 0;
}

.uv-mdc-protectionRequestDialog .uv-mdc-prd-options {
    position: relative;
}

.uv-mdc-protectionRequestDialog .mdc-radio--disabled + label {
    color: gray;
}

.uv-mdc-prd-protectionLevel img {
    height: 24px;
    width: auto;
}

.uv-mdc-prd-protectionLevel > span {
    vertical-align: top;
}

.uv-mdc-prd-protectionLevel > span + span {
    vertical-align: middle;
}

.uv-mdc-prd-protectionLevel + .uv-mdc-prd-protectionLevel {
    margin-top: 4px;
}

.uv-mdc-protectionRequestDialog .uv-mdc-protectionLevels--name {
    margin-left: 8px;
    vertical-align: middle;
}

.uv-mdc-prd-options {
    display: flex;
    flex-wrap: wrap;
}

.uv-mdc-prd-options > div {
    flex: 1;
}

.uv-mdc-prd-title__title {
    font-size: xx-large;
}

.uv-mdc-prd-title__title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.uv-mdc-prd-protectionInfo {
    margin-top: 16px;
}

.uv-mdc-prd-reason {
    display: block;
    margin: 16px 0;
    flex: initial !important;
}

.uv-mdc-prd-reason,
.uv-mdc-prd-reason > div {
    width: 100%;
}

.uv-mdc-prd-reason .mdc-menu {
    max-height: 275px !important;
}

.uv-mdc-prd-duration--label,
.uv-mdc-prd-duration .uv-mdc-radio .material-icons {
    margin: 8px 0;
}

.uv-mdc-prd-duration--label {
    margin-right: 8px !important;
    border-right: 1px solid gray;
    padding-right: 8px;
}

.uv-mdc-prd-notice {
    font-size: small;
    line-height: 1.2em;
}
