<table class="diff diff-contentalign-left diff-editfont-monospace" data-mw="interface">
	<tbody>
		<tr class="diff-title" lang="en">
			<td class="diff-ntitle">
				<div id="mw-diff-ntitle1">
					<strong>
						<a href="/w/index.php?title=Wikipedia:Sandbox&amp;oldid=67890" title="Wikipedia:Sandbox">Latest revision as of 12:00, 2 January 2020</a>
						<span class="mw-diff-edit">(<a href="/w/index.php?title=Wikipedia:Sandbox&amp;action=edit" title="Wikipedia:Sandbox">edit</a>)</span>
						<span class="mw-diff-tool">
                            (<a class="mw-thanks-thank-link" href="//en.wikipedia.org/wiki/Special:Thanks/67890" title="Send a thank you notification to this user" data-revision-id="67890" data-recipient-gender="male">thank</a>)
                        </span>
					</strong>
				</div>
				<div id="mw-diff-ntitle2">
					<a href="/wiki/User:User1" class="mw-userlink" title="User:User1">
						<bdi>User1</bdi>
					</a>
					<span class="mw-usertoollinks">
                        (<a href="/wiki/User_talk:User1" class="mw-usertoollinks-talk" title="User talk:User1">talk</a> |
                        <a href="/wiki/Special:Contributions/User1" class="mw-usertoollinks-contribs" title="Special:Contributions/User1">contribs</a>)
                    </span>
				</div>
				<div id="mw-diff-ntitle3"><span class="comment">(create)</span></div>
				<div id="mw-diff-ntitle5">
					<span class="mw-tag-markers"><a href="/wiki/Special:Tags" title="Special:Tags">Tag</a>: <span class="mw-tag-marker mw-tag-marker-visualeditor-wikitext">2017 wikitext editor</span></span>
				</div>
				<div id="mw-diff-ntitle4">&nbsp;</div>
			</td>
		</tr>
	</tbody>
</table>
